
* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}

body,
html {
    background: #6190E8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 90vh;
}

.chat {
    border: 5px solid ghostwhite;
    border-radius: 5px;
    float: right;
}

/*todo FIX LOI LOI GIAI BI TRAN RA NGOAI*/
.chat {
    height: 90%;
    width: 60%;
    min-width: 390px;
    background: whitesmoke;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
}

.an {
    visibility: hidden;
}

.khung_chat {
    padding: 10px;
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.khung_chat::-webkit-scrollbar {
    width: 10px;
}

.khung_chat::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

.o_tin_nhan {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.o_tin_nhan .anh_dai_dien {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.o_tin_nhan .anh_dai_dien img {
    width: 100%;
}

.o_tin_nhan .tin_nhan {
    width: auto;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    font-size: 15px;
}

.bot .tin_nhan {
    background: #ffe6cb;
    color: #c48843;
}

.toi .tin_nhan {
    background: #c7eafc;
    color: #45829b;
    order: -1;
    text-align: right;
    margin-left: auto;
    justify-content: space-between;
}

.o_chat {
    background: oldlace;
    width: 100%;
    height: auto;
    min-height: 8%;
    border: 2px solid rebeccapurple;
    border-radius: 3px;
    padding: 10px;
    font-size: 100%;
    color: #999;
}

.the_trai {
    float: left;
    width: 40%;
    height: 100%;
    background: skyblue;
    color: white;
    border: 5px solid floralwhite;
    border-radius: 2px;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-flow: row wrap;
}

.the_trai img {
    max-width: 100%;
}

.the_phai {
    float: right;
    width: 20%;
    height: 100%;
    color: #abbcb3;
    background: #efefef;
    border: 5px solid floralwhite;
    border-radius: 2px;
}